* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}
#nuestros-programas {
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

    #nuestros-programas .container {
        padding: 150px 12px;
    }

    #nuestros-programas h2 {
        margin-top: 0;
        font-size: 3.2em;
    }

    #nuestros-programas p {
        display: none;
    }

    #nuestros-programas .carta {
        background-position: center center;
        background-size: cover;
        padding: 50px 0px;
        margin: 30px;
        border-radius: 15px;
    }

.carta:first-child {
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),url("media/front-end.jpg");
}

.carta:nth-child(2) {
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),url("media/full-stack.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),url("media/python.jpg");
}

.carta:nth-child(4) {
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),url("media/python.jpg");
}
